<!-- <p>other-profile works!</p> -->
<!-- <br>
<p *ngIf="!otherProfile.artistFlag">Profile of User {{profile|json}}</p>
<p *ngIf="otherProfile.artistFlag">Profile of Artist {{profile|json}}</p> -->

<div class="container">

    <div class="profileDiv">
        <div class="topDiv">
            <div class="imageDiv">
                <div class="file-upload">
                    <div class="imgA1">
                        <img *ngIf='otherProfile.profileImage'
                            src="http://localhost:3000/images/{{otherProfile.profileImage}}" alt="profile">
                        <img *ngIf='!otherProfile.profileImage' src="http://localhost:3000/images/stockProfileImage.jpg"
                            alt="profile placeholder">
                    </div>
                </div>
            </div>
            <div class="detailsDiv">
                <div>Personal details</div>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput value="{{otherProfile.name}}" disabled>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput value="{{otherProfile.username}}" disabled>
                </mat-form-field>
            </div>
            <div class="aboutMeDiv">
                <div>About Me</div>
                <mat-form-field class="example-full-width">
                    <textarea matInput value="{{otherProfile.aboutMe}}" disabled></textarea>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="otherProfile.artistFlag" class="addContent">
            <div>Tracks</div>
            <div class="tracksListDiv">
                <div class="itemDiv" *ngFor="let item of otherProfile.tracks">
                    <img *ngIf="item.albumArt" src="http://localhost:3000/albumArt/{{item.albumArt}}" id="{{item.name}}"
                        #track (click)="changeTrack(track)">
                    <img *ngIf="!item.albumArt" src="http://localhost:3000/albumArt/stockAlbumArt.png"
                        id="{{item.name}}" #track (click)="changeTrack(track)">
                    <div class="itemName">{{item.name|removePrefix}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="otherProfile.artistFlag" class="addContent">
            <div>Videos</div>
            <div class="videosListDiv">
                <div class="itemDiv" *ngFor="let item of otherProfile.videos">
                    <img *ngIf="item.thumbnail" onclick="document.getElementById('player').pause()"
                        src="http://localhost:3000/thumbnail/{{item.thumbnail}}" id="{{item.name}}" #video
                        (click)="startVideo(video)" class="thumbnail">
                    <img *ngIf="!item.thumbnail" src="http://localhost:3000/thumbnail/stockThumbnail.jpeg"
                        id="{{item.name}}" #video (click)="startVideo(video)" class="thumbnail">
                    <div *ngIf="videoOn" class="videoTag">
                        <video *ngIf="videoOn" width="100%" height="100%" controls (click)="stopVideo(videoPlayer)"
                            #videoPlayer>
                            <source src="http://localhost:3000/videos/{{video}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="itemName">{{item.name|removePrefix}}</div>
                </div>
            </div>
        </div>
    </div>

    <mat-card *ngIf="otherProfile.artistFlag" class="demo-inline-calendar-card">
        <mat-card-header>
            <mat-card-title>Book events</mat-card-title>
        </mat-card-header>
        <mat-calendar [(selected)]="selected" [dateFilter]="myFilter" [minDate]="minDate">
        </mat-calendar>
    </mat-card>

    <div class="submitDiv">
        <button mat-raised-button (click)="submitDate()">Submit</button>
    </div>

</div>
<div class="chatWindow">
    <div class="chatDiv" *ngIf="chatWindow">
        <div class="chatHeader">
            <span>{{receiver}}</span>
            <mat-icon (click)="leave()" fontIcon="close"></mat-icon>
        </div>
        <div id="messageDiv">
            <div>
                <div *ngFor="let item of messageArray">
                    <div id="receiverDiv" *ngIf="sender===item.sender"><span>{{item.message}}</span></div>
                    <div id="senderDiv" *ngIf="sender!==item.sender"><span>{{item.message}}</span></div>
                </div>
            </div>
        </div>
        <mat-form-field id="messageInput" appearance="fill">
            <mat-label>Type your message here</mat-label>
            <input matInput (keydown.enter)='send()' type="text" name="message" [(ngModel)]="message">
        </mat-form-field>
        <button id="sendButton" mat-raised-button (click)="send()" [disabled]="!chatWindow">Send</button>
    </div>
    <button mat-mini-fab (click)="join()" id="chatButton"><mat-icon fontIcon="chat"></mat-icon></button>
    <!-- <div id="usersDiv">
        <input type="text" placeholder="sender id" [(ngModel)]="sender" name="sender">
        <input type="text" placeholder="receiver id" [(ngModel)]="receiver" name="receiver">
    </div> -->
</div>