.siteImages {
    width: 100%;
    overflow: hidden;
    height: 300px;
    object-fit: cover;
}

.imgDiv {
    position: relative;
    text-align: center;
    color: #1f1f1f;
    font-size: 2.5vw;
}

.topCentered {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.middleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px 0;
}

.featured {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.eventList{
    background-color: #1f1f1f;
}

.cardList {
    display: flex;
    justify-content: space-between;
}

.cardList a {
    text-decoration: none;
    color: #dfdfdf;
}

.artist-card {
    width: 300px;
    height: 400px;
    margin: 20px 0 0 40px;
    background-color: #1f1f1f;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.artist-card img {
    margin: 10px;
    height: 320px;
    width: 240px;
    border-radius: 15px;
    border: 1px solid #dfdfdf;
    object-fit: cover;
}

.track-card {
    width: 200px;
    height: 300px;
    margin: 20px 0 0 40px;
    background-color: #3f3f3f;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.track-card img {
    margin: 10px;
    height: 220px;
    width: 160px;
    border-radius: 15px;
    border: 1px solid #dfdfdf;
    object-fit: cover;
}

mat-card-title {
    white-space: nowrap;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}