#userRoute {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#userHeader {
    display: flex;
    background-color: #1f1f1f;
    justify-content: space-between;
    min-height: 50px
}

#userRouteOutlet {
    flex: 1;
}

#userFooter {
    background-color: #1f1f1f;
    font-size: small;
    font-weight: normal;
    margin-bottom: 0;
    min-height: 50px;
    display: flex;
    justify-content: center;
}

#userHeader a {
    text-decoration: none;
    color: #cfcfcf;
}

#adminRoute {
    display: flex;
}

#logo {
    font-size: xx-large;
    font-weight: normal;
}

.logoDiv {
    display: flex;
}

.loginDiv {
    display: flex;
}

.loginDiv ul {
    display: flex;
}

ul li {
    list-style-type: none;
    margin-right: 15px;
}

.headerButton {
    border: 2px solid #cfcfcf;
    border-radius: 10px;
}

#signupButton {
    background-color: #28A64B;
}

#signupButton a {
    color: #ffffff;
}

#logoutButton {
    background-color: #e91e63;
}

#logoutButton a {
    color: #ffffff;
}

#adminTab {
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    background-color: #cfcfcf;
    color: #1f1f1f;
    justify-content: space-between;
}

#adminTab a {
    text-decoration: none;
    color: #1f1f1f;
}

.dashboardDiv {
    margin-top: 50px;
}

.dashboardDiv ul {
    padding-left: 0%;
}

.dashboardDiv li {
    padding-left: 0%;
    margin-top: 20px;
    font-size: large;
}

.dashboardDiv a:hover {
    padding-left: 0%;
    font-size: larger;
}