<mat-toolbar>
  <div>
    <ul>
      <li>
        <a id="logo"> Gigger </a>
      </li>
    </ul>
  </div>
  <div>
    <ul *ngIf="!auth.loggedIn()">
      <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a routerLink="/signup" routerLinkActive="active">Signup</a>
      </li>
    </ul>
    <ul *ngIf="auth.loggedIn()">
      <li>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li>
        <a (click)="auth.logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>