<div id="loginForm">
    <form>
        <h1>Login</h1>
        <div class="formInput">
            <input [(ngModel)]="loginUserData.username" name="username" type="text" id="username" placeholder="Username" matInput>
        </div>
        <div class="formInput">
            <input [(ngModel)]="loginUserData.password" name="password" type="password" id="password" placeholder="Password" matInput>
        </div>
        <button (click)="loginUser()" id="loginButton" mat-raised-button>Login</button>
    </form>
</div>