<!-- <br>
<p *ngIf="!profile.artistFlag">Profile of User {{profile|json}}</p>
<p *ngIf="profile.artistFlag">Profile of Artist {{profile|json}}</p> -->

<button *ngIf="editOn" mat-mini-fab (click)="editToggle()" class="roundButton" id="editButton">
    <mat-icon fontIcon="edit"></mat-icon>
</button>
<button *ngIf="!editOn" mat-mini-fab (click)="submitToggle()" class="roundButton" id="submitEdit">
    <mat-icon fontIcon="check-circle"></mat-icon>
</button>
<div class="profileDiv">
    <div class="topDiv">
        <div class="imageDiv">
            <input type="file" class="image-input" (change)="onFileSelected($event,'')" #imageUpload>
            <div class="file-upload">
                <!-- {{fileName || "No file uploaded yet."}} -->
                <div *ngIf="!editOn" class="imgA1" (click)="imageUpload.click()">
                    <img *ngIf='profile.profileImage' src="http://localhost:3000/images/{{profile.profileImage}}"
                        alt="profile">
                    <img *ngIf='!profile.profileImage' src="http://localhost:3000/images/stockProfileImage.jpg"
                        alt="profile placeholder">
                </div>
                <div *ngIf="editOn" class="imgA2">
                    <img *ngIf='profile.profileImage' src="http://localhost:3000/images/{{profile.profileImage}}"
                        alt="profile">
                    <img *ngIf='!profile.profileImage' src="http://localhost:3000/images/stockProfileImage.jpg"
                        alt="profile placeholder">
                </div>
            </div>
        </div>
        <div class="detailsDiv">
            <div>Personal details</div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput value="{{profile.name}}" [(ngModel)]="profile.name" [disabled]="editOn">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput value="{{profile.username}}" disabled>
            </mat-form-field>
        </div>
        <div class="aboutMeDiv">
            <div>About Me</div>
            <mat-form-field class="example-full-width">
                <textarea matInput value="{{profile.aboutMe}}" [(ngModel)]="profile.aboutMe"
                    [disabled]="editOn"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="profile.artistFlag" class="addContent">
        <div>Upload tracks</div>
        <div class="tracksListDiv">
            <div class="itemDiv" *ngFor="let item of profile.tracks">
                <button *ngIf="!editOn" mat-mini-fab id="deleteButton" (click)="openTrackDialog(item)"><mat-icon
                        fontIcon="delete"></mat-icon></button>
                <img *ngIf="item.albumArt && editOn" src="http://localhost:3000/albumArt/{{item.albumArt}}"
                    id="{{item.name}}" #track (click)="changeTrack(track)">
                <img *ngIf="item.albumArt && !editOn" src="http://localhost:3000/albumArt/{{item.albumArt}}"
                    id="{{item.name}}" #track (click)="albumArtUpload.click()">
                <input type="file" multiple class="albumArt-input" id="item.name"
                    (change)="onFileSelected($event,item.name)" #albumArtUpload>
                <img *ngIf="!item.albumArt && editOn" src="http://localhost:3000/albumArt/stockAlbumArt.png"
                    id="{{item.name}}" #track (click)="changeTrack(track)">
                <img *ngIf="!item.albumArt && !editOn" src="http://localhost:3000/albumArt/stockAlbumArt.png"
                    id="{{item.name}}" (click)="albumArtUpload.click()">
                <div class="itemName">{{item.name|removePrefix}}</div>
            </div>
            <input type="file" multiple class="track-input" (change)="onFileSelected($event,'')" #trackUpload>
            <div *ngIf="!editOn" class="contentDiv">
                <div class="file-upload">
                    <div class="imgA1" (click)="trackUpload.click()">
                        <mat-icon class="addIcon" fontIcon="add"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="profile.artistFlag" class="addContent">
        <div>Upload videos</div>
        <div class="videosListDiv">
            <div class="itemDiv" *ngFor="let item of profile.videos">
                <button *ngIf="!editOn" mat-mini-fab id="deleteButton" (click)="openVideoDialog(item)"><mat-icon
                        fontIcon="delete"></mat-icon></button>
                <img *ngIf="item.thumbnail && editOn" onclick="document.getElementById('player').pause()"
                    src="http://localhost:3000/thumbnail/{{item.thumbnail}}" id="{{item.name}}" #video
                    (click)="startVideo(video)" class="thumbnail">
                <img *ngIf="item.thumbnail && !editOn" onclick="document.getElementById('player').pause()"
                    src="http://localhost:3000/thumbnail/{{item.thumbnail}}" id="{{item.name}}" #video
                    (click)="thumbnailUpload.click()" class="thumbnail">
                <input type="file" multiple class="thumbnail-input" id="item.name"
                    (change)="onFileSelected($event,item.name)" #thumbnailUpload>
                <img *ngIf="!item.thumbnail && editOn" src="http://localhost:3000/thumbnail/stockThumbnail.jpeg"
                    id="{{item.name}}" #video (click)="startVideo(video)" class="thumbnail">
                <img *ngIf="!item.thumbnail && !editOn" src="http://localhost:3000/thumbnail/stockThumbnail.jpeg"
                    id="{{item.name}}" (click)="thumbnailUpload.click()" class="thumbnail">
                <div *ngIf="videoOn" class="videoTag">
                    <video *ngIf="videoOn" width="100%" height="100%" controls (click)="stopVideo(videoPlayer)"
                        #videoPlayer>
                        <source src="http://localhost:3000/videos/{{video}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="itemName">{{item.name|removePrefix}}</div>
            </div>
            <input type="file" class="video-input" (change)="onFileSelected($event,'')" #videoUpload>
            <div *ngIf="!editOn" class="contentDiv">
                <div class="file-upload">
                    <div class="imgA1" (click)="videoUpload.click()">
                        <mat-icon class="addIcon" fontIcon="add"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomDiv">
        <div class="tabGroup">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Favourites">
                    <div class="mat-tab favourites">
                        <div>Artists</div>
                        <div class="artistsList">
                            <div class="imgDiv" *ngFor="let item of profile.favouriteArtists">
                                <button *ngIf="!editOn" mat-mini-fab id="deleteButton">
                                    <mat-icon fontIcon="delete"></mat-icon>
                                </button>
                                <img *ngIf="item" src="http://localhost:3000/images/{{item}}.jpg" alt="artist">
                                <img *ngIf="!item" src="http://localhost:3000/images/stockProfileImage.jpg"
                                    alt="artist">
                            </div>
                        </div>
                        <div>Tracks</div>
                        <div class="tracksList">
                            <div class="tracksListDiv" *ngFor="let item of profile.favouriteTracks">
                                <button *ngIf="!editOn" mat-mini-fab id="deleteButton">
                                    <mat-icon fontIcon="delete"></mat-icon>
                                </button>
                                <img *ngIf="item" src="http://localhost:3000/albumArt/{{item}}.jpg" id="item" #first
                                    (click)="changeTrack(first)">
                                <img *ngIf="!item" src="http://localhost:3000/albumArt/stockAlbumArt.png" id="item"
                                    #first (click)="changeTrack(first)">
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Past events">
                    <div class="mat-tab pastEvents">
                    </div>
                </mat-tab>
                <mat-tab label="Booking history">
                    <div class="mat-tab bookingHistory">
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<mat-card *ngIf="profile.artistFlag" class="demo-inline-calendar-card">
    <mat-card-header>
        <mat-card-title>Select unavailable dates</mat-card-title>
    </mat-card-header>
    <mat-calendar [(selected)]="selected" [dateFilter]="rangeFilter" [minDate]="minDate">
    </mat-calendar>
</mat-card>

<button mat-raised-button (click)="submitDate()">Submit</button>
<p>{{selected}}</p>
