.demo-inline-calendar-card {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

#calendar {
    width: 100%;
}

#signupForm {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    width: 40vw;
    height: 50px;
    color: #cfcfcf;
    font-size: large;
    background-color: #2f2f2f;
    border: 2px solid #cfcfcf;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}
#signUpButton{
    border-radius: 12px;
    margin-top: 10px;
    color: #2f2f2f;
    background-color: #cfcfcf;
    width: 100px;
    height: 40px;
}
.signupCardDiv{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.signupCard{
    display: flex;
    align-items: center;
    height: 300px;
    width: 30vw;
}
.cardContent{
    flex: 1;
    display: flex;
    align-items: center;
    font-size:x-large;
}